* { 
    box-sizing: border-box;
}

/* .mfr {
    display: none;
} */

.All {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.main_title {
    display: flex;
    border: aqua 5px solid;
    background: aqua;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.mfr {
    display: flex;
    border: rgb(85, 85, 85) 5px solid;
    background-color: rgb(85, 85, 85);
}

#sega {
    justify-content: start;
}

#nin {
    flex-direction: row-reverse;
}

#sony {
    justify-content: start;
}

#ms {
    flex-direction: row-reverse;
}

.console {
    display: flex;
    border: blueviolet 5px Solid;
    background-color: blueviolet;
    flex-direction: column;
}

.game {
    display: flex;
    border: blue 5px solid;
    background-color: blue;
}
